<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Spring forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin:4px; padding:4px; ">

<span style="font-weight: bold" th:text="${name}"/>
<div th:replace="header/header :: header">dupa</div>
<table align="center" style="width:80%" class="table">
    <tr class="info" th:each="category : ${categories}">
        <td colspan="2"><span style="font-weight: bold" th:text="${category.key.name}"/></td>
    <tr th:each="cat : ${category.value}">
        <td width="50px"><img width="50px" src="http://www.free-icons-download.net/images/wall-post-icon-18555.png"/>
        </td>
        <td><a th:href="'category/'+${cat.name}+'-'+${cat.id}"> <span th:text="${cat.name}"/></a></td>


    </tr>
    </tr>
</table>
<table align="center"  style="width:80%" class="table">
    <tr>
        <td>
            Mamy <span style="font-weight: bold" th:text="${information.usersCount}"/> userów
        </td>
        <td>
            Najnowszy to <span style="font-weight: bold" th:text="${information.lastUser}"/>
        </td>
    </tr>
    <tr>
        <td>
            Nasi użytkownicy stworzyli <span style="font-weight: bold" th:text="${information.topicsCount}"/> tematów,

           napisali w nich  <span style="font-weight: bold" th:text="${information.postsCount}"/> postów.
        </td>
    </tr>

</table>
</body>
</html>