<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin:4px; padding:4px; ">
<div th:replace="header/header :: header">dupa</div>

<table align="center" style="width:80%">
    <form action="/post/edit/save" method="post" class="form-horizontal">
        <input type="hidden" th:value="${id}" name="postid"/>

        <div class="form-group">
            <label class="col-md-4 control-label">Text</label>

            <textarea rows="10" class="form-control" id="text" name="text" th:text="${text}"  th:required="required"></textarea>

        </div>
        <div class="form-group">

            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</table>


</body>
</html>