<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin:4px; padding:4px; ">
<div th:replace="header/header :: header">dupa</div>
<span th:text="${username}"/>
<table style="width: 80%" align="center" class="table table-bordered" th:each="post : ${posts}">
    <tr>
        <td rowspan="2" th:text="${post.autor.name}"/>
        <td style="font-size: small" th:text=" 'Dodano: '+${post.date}"/>
    </tr>
    <tr>
        <td th:text="${post.text}" />
    </tr>
</table>




</body>
</html>